@font-face {
  font-family: font1;
  src: url('./fonts/font1.woff2');
}

@font-face {
  font-family: font2;
  src: url('./fonts/font2.woff2');
}

@font-face {
  font-family: font3;
  src: url('./fonts/font3.woff2');
}

* {
  box-sizing: border-box;
  line-height: 24px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cant;
  scrollbar-gutter: stable;
}

.common-button-style {
  display: block;
  border: 0;
  padding: 0;
  margin: 0;
}

.header-contents-container {
  max-width: 1280px;
  margin: 0 auto;
}

.rotate-icon {
  transform: rotate(180deg);
}

#app {
  height: 100vh;
  position: relative;
}

body {
  height: 100vh;
  padding: 0;
  margin: 0;
  background-color: #005986;
  background-size: cover;
  background-position: 50% 50%;
  background-attachment: fixed;
  background-image: linear-gradient(0deg,#d8eeee,#d8eeee 25%,#64b3c9 65%,#005986 90%,#005986);
}

.visibility-none {
  visibility: hidden;
}

/* #app {
  position: relative;
} */